<div class="menu-container">

    <h1>KIOSCONM</h1>

    <div id="infoUsuario">

        <p>
            Bienvenido:
            <span id="nombreUsuario"></span>
        </p>
        <p>

        </p><span id="rolUsuario"></span>
        </p>



    </div>

    <h3>Menú Principal</h3>
    <div class="menu-opciones">

        <button id="usuarios">
    Usuarios
</button>

<button id="productos">
    Productos
</button>

<button id="ventas">
    Ventas
</button>

<button id="stock">
    Stock
</button>

<button id="proveedores">
    Proveedores
</button>

<button id="caja">
    Caja
</button>

<button id="reportes">
    Reportes
</button>



        <button id="btnCerrarSesion">
            Cerrar Sesión
        </button>

    </div>

</div>